<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue.js demo</title>
</head>

<body>
    <div id="app">
        <h1>Vue demo</h1>
        <h2>{{message}}</h2>
        <ul v-for="post in posts">
            <li>{{post.first_name}}</li>
            <li>{{post.last_name}}</li>
        </ul>
        <div v-if="age>=18">
            <p>You are an adult</p>
        </div>
        <div v-else>
            <p>You are still a kid</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>